.listItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 10px 40px;
  border-bottom: 1px solid #000000;

  &:first-child {
    border-top: 1px solid #000000;    
  }

  &.postIsPublished {
    text-decoration: line-through;
    background: brown;
    order: 1;
  }

  p {
    font-weight: bold;

    span:first-child {
      color: darkslategrey;
      font-style: italic;
    }

    span:last-child {
      text-transform: capitalize;
    }
  }
}